.main-home-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.navbar {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-main);
    border-bottom: 3px solid black;
}

.menu-nav {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu-link {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    list-style-type: none;
}

.menu-link:hover {
    text-decoration: underline;
}

.product-list-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}

.product-card {
    width: 250px;
    height: 350px;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    justify-content: space-between;
    border-radius: 1rem;
    color: white;
}

.product-card img {
    width: 150px;
    max-height: 150px;
    object-fit: cover;
}

.product-card p {
    margin: 0;
}

.view-more {
    color: white;
}

.add-cart-button {
    width: 150px;
    height: 40px;
    background-color: rgb(29, 29, 202);
    border-radius: 1rem;
    color: white;
    font-weight: 600;
    border: none;
}

.add-cart-button:hover {
    background-color: rgb(12, 12, 255);
}

/* ItemView */

.item-view-container {
    width: 100%;
    height: 100vh;
}

.item-view-element {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-view-element img {
    width: 500px;

}

/* Category */

.main-category-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-category {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

/* ProductFormContainer */

.form-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 60%;
}

.form-card input,
.form-card textarea,
.form-card select {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #aaa;
    font-size: 16px;
}

.form-card input[type="file"] {
    padding: 5px;
}

.form-card button {
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.2s;
}

.form-card button:hover {
    background-color: #45a049;
}

.image-preview {
    margin-top: 10px;
    text-align: center;
}

.image-preview img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px #0002;
}